.shadow_none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
html * {
  max-height: 999999px;
}
img {
  border: 0;
}
p:last-child {
  margin-bottom: 0;
}
.clear {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both !important;
  height: 0;
}
* html .clearfix {
  position: relative;
  zoom: 1;
}
* + html .clearfix {
  position: relative;
  zoom: 1;
}
.trim_spaces {
  text-align: center;
}
.trim_spaces.left {
  text-align: left;
}
.trim_spaces .scalable {
  display: inline-block;
  /* white-space: nowrap; */
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.trim_spaces .scalable.middle {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0;
}
a:hover {
  text-decoration: none;
  outline: 0;
}
a:active,
a:focus {
  outline: 0;
}
@media screen and (max-height: 800px) {
  .section.section_lp_reg_form .section_container {
    padding-top: 10px;
  }
}
@media screen and (max-height: 800px) {
  .section.section_lp_reg_form .section_title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}
@media screen and (max-height: 800px) {
  .section.section_video {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .section.section_video {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .section.section_video .section_container {
    padding-top: 10px;
  }
}
@media screen and (max-height: 800px) {
  .section.section_video:after {
    width: 45px;
    height: 40px;
    -webkit-background-size: cover;
    background-size: cover;
    margin-left: -22px;
  }
}
@media screen and (max-width: 767px) {
  .section.section_video:after {
    display: none;
  }
}
@media screen and (max-height: 800px) {
  .section.section_video .video_wrapper {
    max-width: 510px;
  }
}
@media screen and (max-height: 800px) {
  .section.section_video .video_wrapper .video_title {
    font-size: 17px;
    padding-bottom: 5px;
  }
}
@media screen and (max-height: 800px) {
  .section.section_video .video_wrapper .video_title span {
    font-size: 17px;
  }
}
@media screen and (max-height: 800px) {
  .section.section_video .video_wrapper .video {
    padding: 0 10px 10px 10px;
  }
}
@media screen and (max-width: 767px) {
  .lp_reg_form .form-group {
    margin-bottom: 10px;
  }
}
.lp_reg_form .form-group .form-control {
  /* Firefox 19+ */
  /* Firefox 18- */
}
@media screen and (max-width: 767px) {
  .lp_reg_form .form-group .form-control {
    height: 34px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .lp_reg_form .form-group .form-control::-webkit-input-placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .lp_reg_form .form-group .form-control::-moz-placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .lp_reg_form .form-group .form-control:-moz-placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .lp_reg_form .form-group .form-control:-ms-input-placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .button {
    height: 40px;
    line-height: 40px;
  }
}


/* robertson fix */
@media screen and (max-width: 767px) {
  .trim_spaces .scalable {
    font-size: 4vw;
    /* white-space: normal; */
  }
  .lp_reg_form .buttons .button{
    font-size: 4vw;
  }
}