.intl-tel-input {
    width: 100%;
}
.f_form{
	max-width: 400px;
	width: 100%;
  margin: 0 auto;
}
.f_form input{
	border: 1px solid #bbb;
	margin-bottom: 10px;
	border-radius: 0px;
	padding: 10px;
	width: 100%;
}
.f_form input.error{
	border: 1px solid #f00;
}
.f_form .intl-tel-input{
	display: block;
}
.f_form .subscribeBtn {
	background: #81dcff;
	margin-top: 20px;
	padding: 15px;
	border: none;
	width: 100%;
	cursor: pointer;
	transition: all .4s;
}
.f_form .subscribeBtn:hover{
	opacity: .7
}

.f_form .intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.modalWindow{
	position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 700;
    background: transparent;
    display: none;
    box-sizing: border-box;
    height: 100%;
}
.modalBg{
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 700;
    background: #0000009e;
	padding: 20px;
	box-sizing: border-box;
}
.modalWrapper{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 707;
}


.successPage .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
    top: -60px;
}
/* ===================== PRELOADER =========================*/

.lds-roller {
	display: inline-block;
	position: absolute;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 707;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.formWrapper {
  max-width: 430px;
}

.f_form {
  max-width: 430px;
}

.f_form .offer_row {
  /*padding: 0;*/
  text-align: left;
  position: relative;
  top: -10px;
}

.f_form .offer_row input {
  display: inline-block;
  width: auto;
  float: left;
  margin: 0;
  margin-right: 5px;
}

input.js-oferta {
  width: auto !important;
  height: auto !important;
}

.f_form .offer_row span {
  font-size: 11px;
  line-height: 14px;
  font-family: sans-serif;
  color: #333;
  position: relative;
  top: -1px;
  display: block;
}

.f_form .offer_row a {
  color: #333;
}

.country-list li.country {
  display: flex;
  align-items: center;
}